# .env.example

# Environment & Pathing
DJANGO_ENV=development
PYTHONPATH=./backend

# Django Core Settings
DEBUG=True
SECRET_KEY=
ALLOWED_HOSTS=localhost,127.0.0.1

# Email Configuration
EMAIL_HOST_USER=username@domain.com
EMAIL_HOST_PASSWORD=
CONTACT_EMAIL=username@domain.com

# UI/Admin Options
UNFOLD_STUDIO=0
